.App {
  text-align: center;
  min-height:100vh;
  
}

.search-Form
{
  min-height:10vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: brown;
  position: fixed;
  top: 0;
}

.search-bar
{
 width:50%;
  border:none;
}

.search-button 
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width:80px;
  padding: 10px 20px
 
}

.recipes
{
  display:flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
  flex-direction:row;
  align-items: center;
  height: 600px;
  margin-top: 55px;
}


@media (min-width:300px) and (max-width:750px)
{
  .search-Form
{
  min-height:3vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: brown;
  position: fixed;
  top: 0;
}
.recipes
{
  display:flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
  flex-direction:row;
  align-items: center;
  height: 600px;
  margin-top:190px;
}

}